<div layout="row" class="domainLibraryContent" layout-align="center center">
    <div flex="70" flex-xs="90">
        <!--  class="md-whiteframe-1dp" -->
        <div>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Create Random Data Domain</span>
                </div>
            </md-toolbar>
        </div>
        <div layout-padding="">
            <form name="domainForm" flex="100" ng-submit="createRandomDomain()">
                <md-input-container class="md-block">
                    <label>{{inputLabelsForDomain.domainName}}</label>
                    <input required="" name="domainName" ng-model="randomDomain.name" md-maxlength="20">
                    <p class="errorForDomain">{{errorMessage}}</p>
                </md-input-container>
                <md-input-container class="md-block base-type-style">
                    <label>{{inputLabelsForDomain.domainType}}</label>
                    <md-select ng-model="randomDomain.baseType" required>
                        <md-option ng-repeat="type in types" value="{{type.name}}">
                            {{type.name}}
                        </md-option>
                    </md-select>
                </md-input-container>
                {{randomDomain.baseType}}
                <div ng-if="randomDomain.baseType">
                    <div ng-include="'/domainlib/randomdomainlib/templates/'+randomDomain.baseType+'.html'">
                    </div>
                </div>
                <md-input-container class="md-block">
                    <label>{{inputLabelsForDomain.pattern}}</label>
                    <input name="domainPattern" ng-if="status" value="{{status}}" ng-model="randomDomain.pattern" required> Test your pattern! <a href="" class="md-primary md-raised" ng-click="showAdvanced($event)">click here</a>
                </md-input-container>
                <div layout="row" layout-align="end center">
                    <md-button ui-sref="datamill.dashboard" class="md-raised md-warn">Cancel</md-button>
                    <md-button class="md-raised md-primary" type="submit">Create</md-button>
                </div>
            </form>
        </div>
    </div>
</div>
