<div layout="row" class="domainLibraryContent" layout-align="center center">
  <div style="max-height:none;" flex="100" flex-xs="100" layout="column">
    <div md-no-sticky="">
      <div class="layout-row" layout="row">
        <h3 id="randomSubheader">Random Generated Domain</h3>
      </div>
      <div>
        <md-divider></md-divider>
      </div>
    </div>
    <div layout-align-gt-sm="center none" layout-gt-sm="row">
      <form flex-gt-sm="80" name="domainForm" flex="100" ng-submit="createRandomDomain()" style="max-height:none;">
        <md-input-container class="md-block domainNameStyle">
          <label>{{inputLabelsForDomain.domainName}}</label>
          <input required="" name="domainName" ng-model="randomDomain.name" capitalize-first md-maxlength="30">
          <div ng-messages="domainForm.domainName.$error">
            <div ng-message="required">Name is required.</div>
            <div ng-message="md-maxlength">The title must be less than 30 characters long.</div>
          </div>
          <p class="errorForDomain">{{errorMessage}}</p>
        </md-input-container>
        <md-input-container class="md-block base-type-style">
          <label>{{inputLabelsForDomain.domainType}}</label>
          <md-select ng-model="randomDomain.baseType" required>
            <md-option ng-repeat="type in types" value="{{type.name}}">
              {{type.name}}
            </md-option>
          </md-select>
          <p ng-hide="randomDomain.baseType" class="errorForDomain">{{errForType}}</p>
        </md-input-container>
        <div ng-if="randomDomain.baseType=='String'">
          <h5 class="rangeHeading">Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Minimum no. of words
              <input required name="minimumWord" aria-label="minword" ng-model="randomDomain.range.mininumWord">
              <div ng-messages="domainForm.minimumWord.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
            <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Maximum no. of words
              <input required name="maximumWord" aria-label="maxword" ng-model="randomDomain.range.maximumWord">
              <div ng-messages="domainForm.maximumWord.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
          </div>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Minimum no. of characters
              <input required name="maximumChar" aria-label="minchar" ng-model="randomDomain.range.minimumChar">
              <div ng-messages="domainForm.maximumChar.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
            <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Maximum no. of characters
              <input required name="maximumChar" aria-label="maxchar" ng-model="randomDomain.range.maximumChar">
              <div ng-messages="domainForm.maximumChar.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div ng-if="randomDomain.baseType=='Number'">
          <h5 class="rangeHeading">Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <md-input-container flex="40" flex-xs="10" md-no-float class="md-block">Minimum Value
              <input required name="mininumNumberVal" aria-label="minval" ng-model="randomDomain.range.mininumNumberVal">
              <div ng-messages="domainForm.mininumNumberVal.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
            <md-input-container flex="40" flex-xs="10" md-no-float class="md-block">Maximum Value
              <input required name="maximumNumberVal" aria-label="maxval" ng-model="randomDomain.range.maximumNumberVal">
              <div ng-messages="domainForm.maximumNumberVal.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div ng-if="randomDomain.baseType=='Decimal'">
          <h5 class="rangeHeading">Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <md-input-container flex="40" flex-xs="10" md-no-float class="md-block">Minimum Value
              <input required name="mininumVal" aria-label="minval" ng-model="randomDomain.range.mininumVal">
              <div ng-messages="domainForm.mininumVal.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
            <md-input-container flex="40" flex-xs="10" md-no-float class="md-block">Maximum Value
              <input required name="maximumVal" aria-label="maxval" ng-model="randomDomain.range.maximumVal">
              <div ng-messages="domainForm.maximumVal.$error">
                <div ng-message="required">Fill this field</div>
              </div>
            </md-input-container>
          </div>
        </div>
        <div ng-if="randomDomain.baseType=='Boolean'">
          <h5 class="rangeHeading">Range</h5>
          <p>No range options for Boolean.</p>
        </div>
        <div ng-if="randomDomain.baseType=='Date'">
          <h5 class="rangeHeading">Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <mdp-date-picker md-no-float flex="40" flex-xs="10" mdp-open-on-click required name="dateFormat" mdp-placeholder="From Date(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="randomDomain.range.fromDate">
              <div ng-messages="domainForm.dateFormat.$error">
                <div ng-message="required">This is required</div>
                <div ng-message="format">Invalid format</div>
              </div>
            </mdp-date-picker>
            <mdp-date-picker md-no-float flex="40" flex-xs="10" mdp-open-on-click required name="dateFormat" mdp-placeholder="To Date(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="randomDomain.range.toDate">
              <div ng-messages="domainForm.dateFormat.$error">
                <div ng-message="required">This is required</div>
                <div ng-message="format">Invalid format</div>
              </div>
            </mdp-date-picker>
          </div>
        </div>
        <div ng-if="randomDomain.baseType=='Time'" class="rangeHeading">
          <h5>Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <h5>From</h5>
            <mdp-time-picker flex="40" flex-xs="10" md-no-float aria-label="stime" ng-model="randomDomain.range.fromTime"></mdp-time-picker>
            <h5>To</h5>
            <mdp-time-picker flex="40" flex-xs="10" md-no-float ng-model="toTime" aria-label="randomDomain.range.toTime"></mdp-time-picker>
          </div>
        </div>
        <div ng-if="randomDomain.baseType=='Hexadecimal'">
          <h5 class="rangeHeading">Range</h5>
          <p>No range options for Hexadecimal.</p>
        </div>
        <div ng-if="randomDomain.baseType=='TimeStamp'">
          <h5 class="rangeHeading">Range</h5>
          <div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
            <mdp-date-picker md-no-float flex="40" flex-xs="10" mdp-open-on-click required name="dateFormat" mdp-placeholder="From Date(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="randomDomain.range.fromDate">
              <div ng-messages="domainForm.dateFormat.$error">
                <div ng-message="required">This is required</div>
                <div ng-message="format">Invalid format</div>
              </div>
            </mdp-date-picker>
            <mdp-time-picker flex="40" flex-xs="10" md-no-float aria-label="stime" ng-model="randomDomain.range.fromTime"></mdp-time-picker>
            <mdp-date-picker md-no-float flex="40" flex-xs="10" mdp-open-on-click required name="dateFormat" mdp-placeholder="To Date(dd/mm/yyyy)" mdp-format="DD/MM/YYYY" ng-model="randomDomain.range.toDate">
              <div ng-messages="domainForm.dateFormat.$error">
                <div ng-message="required">This is required</div>
                <div ng-message="format">Invalid format</div>
              </div>
            </mdp-date-picker>
            <mdp-time-picker flex="40" flex-xs="10" md-no-float ng-model="randomDomain.range.toTime" aria-label="toTime"></mdp-time-picker>
          </div>
        </div>
        <md-input-container class="md-block" style="max-height:none;">
          <label>{{inputLabelsForDomain.pattern}}</label>
          <input required name="domainPattern" ng-if="status" value="{{status}}" ng-model="randomDomain.pattern">
          <div ng-messages="domainForm.domainPattern.$error">
            <div ng-message="required">Name is required.</div>
          </div>
        </md-input-container>
        <div>
          <p><i>Test your pattern! <a href="" class="md-primary md-raised" ng-click="showAdvanced($event)"><b>click here</a></b></i></p>
        </div>
        <div layout="row" layout-align="end center">
          <md-button ui-sref="datamill.listdomain" class="md-accent"><b>Cancel</b></md-button>
          <md-button class="md-primary" type="submit"><b>Save</b></md-button>
        </div>
      </form>
    </div>
  </div>
</div>
