<h5 class="rangeHeading">Range</h5>
<div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
    <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Minimum no. of words
        <input aria-label="minword" ng-model="abc">
    </md-input-container>
    <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Maximum no. of words
        <input aria-label="maxword">
    </md-input-container>
</div>
<div layout="row" layout-xs="column" layout-margin="2px" layout-xs-margin="2px">
    <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Minimum no. of characters
        <input aria-label="minchar">
    </md-input-container>
    <md-input-container md-no-float flex="40" flex-xs="10" class="md-block">Maximum no. of characters
        <input aria-label="maxchar">
    </md-input-container>
</div>
