<h5 class="rangeHeading">Range</h5>
<div layout="row">
<md-input-container flex="50" md-no-float class="md-block">Minimum no. of words
    <input aria-label="minword">
</md-input-container>
<md-input-container flex="50" md-no-float class="md-block">Maximum no. of words
    <input aria-label="maxword">
</md-input-container>
</div>
<div layout="row">
<md-input-container flex="50" md-no-float class="md-block">Minimum no. of characters
    <input aria-label="minchar">
</md-input-container>
<md-input-container flex="50" md-no-float class="md-block">Maximum no. of characters
    <input aria-label="maxchar">
</md-input-container>
</div>

