<div style="min-height:10px" layout="column" layout-margin="2px">
  <h4>{{$ctrl.modelName}}</h4>
  <md-subheader class="md-no-sticky">{{$ctrl.formTitle}}:{{$ctrl.attrs.length}}</md-subheader>
  <!-- EACH attribute defination-->
  <form>
    <div ng-repeat="attr in $ctrl.attrs" style="border:1px solid #00ffff;" layout="row" layout-align="none center">
      <div flex="90" layout-gt-sm="row" layout="column" layout-margin="2px">
        <!-- <div class="transcludeform"></div> -->
        <!-- <ng-transclude></ng-transclude> -->
        <!-- <ng-include src="$ctrl.fileSrcInclude"></ng-include> -->
        <!-- {{attribute.title}}-->
        <md-input-container>
          <label>Name</label>
          <input ng-model="attr.name" required>
        </md-input-container>
        <md-input-container>
          <label>Attribute Type</label>
          <md-select ng-model="attr.type" required>
            <md-option ng-repeat="state in $ctrl.attrtype" value="{{state.name}}">
              {{state.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-if="attr.type==='domain'">
          <label>Attribute Domain</label>
          <md-select ng-model="attr.doamin">
            <md-option ng-repeat="state in $ctrl.domain" value="{{state.name}}">
              {{state.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <md-input-container ng-if="attr.type==='schema'">
          <label>Attribute schema</label>
          <input ng-model="attr.schema">
        </md-input-container>
        <md-input-container>
          <md-checkbox layout="row" layout-align="center center" ng-model="attr.isUniqueness">Uniqueness</md-checkbox>
        </md-input-container>
      </div>
      <!-- REMOVE BUTTON FOR EACH ELEMENT -->
      <div layout="row" layout-align="end center">
        <md-button class="md-fab md-mini md-icon-button" ng-click="$ctrl.remove($index)" aria-label="remove">
          <md-icon class="material-icons">remove</md-icon>
        </md-button>
      </div>
    </div>
    <div flex="10" layout="row" layout-align="end center">
      <md-button class="md-fab md-mini" ng-click="$ctrl.add()" aria-label="add">
        <md-icon>add</md-icon>
      </md-button>
    </div>
  </form>
</div>
