<div style="min-height:10px" layout="column" layout-margin="2px">
    <div layout="row">
        <md-subheader class="md-no-sticky">{{$ctrl.formTitle}}</md-subheader>
        <div flex></div>
        <md-subheader class="md-no-sticky">Total:{{$ctrl.attrs.length}}</md-subheader>
    </div>
    <!-- EACH attribute defination-->
    <form>
        <!-- style="border:1px solid #00ffff;"  -->
        <div ng-repeat="attr in $ctrl.attrs" layout="row" layout-align="none center">
            <div flex="90" layout-gt-sm="row" layout="column" layout-margin="2px">
                <md-input-container flex-gt-sm="25">
                    <label>Name</label>
                    <input ng-model="attr.name" required>
                </md-input-container>
                <md-autocomplete md-selected-item="attr.domain" md-search-text="attr.searchText" md-selected-item-change="$ctrl.selectedItemChange(item,$index)" md-items="item in $ctrl.querySearch(attr.searchText)" md-item-text="item" md-min-length="0" placeholder="Attribute domain" required>
                    <md-item-template>
                        <span md-highlight-text="attr.searchText" md-highlight-flags="^i">{{item}}</span>
                    </md-item-template>
                    <md-not-found>
                        Create a
                        <a ui-sref="datamill.realDomain">real</a>/<a ui-sref="datamill.randomDomain">random</a> domain one!
                    </md-not-found>
                </md-autocomplete>
                <div flex-gt-sm></div>
                <md-input-container flex-gt-sm="25">
                    <md-switch ng-model="attr.isUnique" aria-label="Unique">
                    </md-switch>
                </md-input-container>
            </div>
            <!-- REMOVE BUTTON FOR EACH ELEMENT -->
            <div layout="row" layout-align="end center">
                <md-button class="md-fab md-mini md-icon-button" ng-click="$ctrl.remove($index)" aria-label="remove">
                    <md-icon class="material-icons">remove</md-icon>
                </md-button>
            </div>
        </div>
        <div flex="10" layout-gt-xs="row" layout-xs="row" layout-align="center center">
            <md-button flex-gt-xs="35" flex-xs="70" class="md-raised" ng-click="$ctrl.add()" aria-label="add">Add More Attribute
                <!-- <md-icon>add</md-icon> -->
            </md-button>
        </div>
    </form>
</div>
