<div style="min-height:10px" layout="column" layout-margin="2px">
  <!-- <h4>{{$ctrl.modelName}}</h4> -->
  <div layout="row">
    <md-subheader class="md-no-sticky">{{$ctrl.formTitle}}</md-subheader>
    <div flex></div>
    <md-subheader class="md-no-sticky">Total:{{$ctrl.attrs.length}}</md-subheader>
  </div>
  <!-- EACH attribute defination-->
  <form>
    <!-- style="border:1px solid #00ffff;"  -->
    <div ng-repeat="attr in $ctrl.attrs" layout="row" layout-align="none center">
      <div flex="90" layout-gt-sm="row" layout="column" layout-margin="2px">
        <!-- <div class="transcludeform"></div> -->
        <!-- <ng-transclude></ng-transclude> -->
        <!-- <ng-include src="$ctrl.fileSrcInclude"></ng-include> -->
        <!-- {{attribute.title}}-->
        <md-input-container flex-gt-sm="25">
          <label>Name</label>
          <input ng-model="attr.name" required>
        </md-input-container>
        <!-- <select ng-model="attr.type" ng-options="item.name as item.name for item in $ctrl.attrtype" required>
          <option value="">--Attribute Type--</option>
        </select> -->
        <!-- <md-input-container flex-gt-sm="25">
          <label>Attribute Type</label>
          <md-select ng-model="attr.type" required>
            <md-option ng-repeat="state in $ctrl.attrtype" value="{{state.name}}">
              {{state.name}}
            </md-option>
          </md-select>
        </md-input-container> -->
        <md-input-container flex-gt-sm="25">
          <label>Attribute Domain</label>
          <md-select ng-model="attr.domain">
            <md-option ng-repeat="state in $ctrl.domain" value="{{state.name}}">
              {{state.name}}
            </md-option>
          </md-select>
        </md-input-container>
        <!-- <md-input-container ng-if="attr.type==='schema'" flex-gt-sm="25">
          <label>Attribute schema</label>
          <input ng-model="attr.schema">
        </md-input-container> -->
        <div flex-gt-sm></div>
        <md-input-container flex-gt-sm="25">
          <md-switch ng-model="attr.isUnique" aria-label="Unique">
            Unique
          </md-switch>
          <!--  <md-checkbox layout="row" layout-align="center center" ng-model="attr.isUniqueness">Uniqueness</md-checkbox> -->
        </md-input-container>
      </div>
      <!-- REMOVE BUTTON FOR EACH ELEMENT -->
      <div layout="row" layout-align="end center">
        <md-button class="md-fab md-mini md-icon-button" ng-click="$ctrl.remove($index)" aria-label="remove">
          <md-icon class="material-icons">remove</md-icon>
        </md-button>
      </div>
    </div>
    <div flex="10" layout="row" layout-align="center center">
      <md-button flex="90" class="md-primary" ng-click="$ctrl.add()" aria-label="add">Add More Attribute
        <!-- <md-icon>add</md-icon> -->
      </md-button>
    </div>
  </form>
</div>
s
