<div layout-gt-xs="row" layout-xs="column">
    <div>
        <h3 style="padding-left:20px;">Data Model Definition</h3>
    </div>
    <div flex-gt-xs></div>
    <div layout="row" style="padding:5px" layout-align="center center">
        <md-button class="md-ink-ripple=#990000
 md-raised md-accent" aria-label="edit" ng-click="reset()">
            Reset
        </md-button>
    </div>
</div>
<div layout-gt-md="row" layout="column" layout-margin="10px" ng-cloak>
    <div flex-gt="60" flex-gt-sm="60" flex-sm="60" flex-xs="100" class="md-whiteframe-3dp" style="max-height:none;padding:10px">
        <!-- <h1>{{datamodelconf.heading}}</h1> -->
        <form ng-submit="saveDataModel()" name="dataModelForm">
            <div layout="column" layout-margin="2px">
                <!-- Data Model Defination -->
                <div layout-gt-xs="row" layout-xs="row">
                    <md-input-container flex-gt-xs="80">
                        <label>Title</label>
                        <input ng-model="dataModel.name" name="name" ng-disabled="isedit" md-maxlength="50" md-minlength="8" capitalize-first required>
                        <div ng-messages="dataModelForm.name.$error" role="alert">
                            <div ng-message="required">This field required</div>
                            <div ng-message="md-minlength">Minimum should be 8</div>
                            <div ng-message="md-maxlength">Exceeded the limit(50)</div>
                        </div>
                    </md-input-container flex-gt-xs="20">
                    <md-switch ng-model="dataModel.ispublic" aria-label="Switch 1">
                        visible to all
                    </md-switch>
                </div>
                <md-input-container>
                    <label>Description</label>
                    <textarea ng-model="dataModel.description" name="description" md-maxlength="150" md-minlength="10" rows="1" required>
                    </textarea>
                    <div ng-messages="dataModelForm.description.$error" style="color:maroon" role="alert">
                        <div ng-message="required">This field required</div>
                        <div ng-message="md-minlength">Minimum length should be 10</div>
                        <div ng-message="md-maxlength">Exceeded the limit(150)</div>
                    </div>
                </md-input-container>
            </div>
            <md-divider></md-divider>
            <!-- datamill model component -->
            <datamill-model model-name="dataModel.name" form-title="Attributes" file-src-include="/datamodel/templates/attribute.html" attrs="dataModel.attributes" on-update="addAttribute(attr)">
            </datamill-model>
            <!-- @TODO patterns to define by the USER -->
            <md-divider></md-divider>
            <div layout-gt-sm="row" layout-margin layout="column">
                <div flex-gt-sm="10">
                    <h4>Patterns</h4>
                </div>
                <div flex-gt-sm="90" layout="column">
                    <div ng-repeat="d in dataModel.patterns" flex="" layout="row">
                        <h5 flex="10">{{d.name}}</h5>
                        <md-slider-container flex="80">
                            <md-slider ng-model="d.mix" min="0" max="100" aria-label="blue" id="blue-slider" class="md-primary" flex-offset="5">
                            </md-slider>
                            <md-input-container>
                                <input flex="" type="number" ng-model="d.mix" aria-label="red" aria-controls="red-slider">
                            </md-input-container>
                        </md-slider-container>
                        <md-button aria-label="edit" class="md-icon-button" ng-click="showAdvanced($event,d)">
                            <md-icon class="material-icons green">mode_edit</md-icon>
                        </md-button>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <md-button class="md-fab md-mini md-icon-button" ng-click="showDialog($event)" class="md-raised" aria-label="add">
                        <md-icon class="material-icons">add</md-icon>
                    </md-button>
                </div>
            </div>
            <!-- Delivery type-->
            <md-divider></md-divider>
            <div layout-gt-xs="row" layout-margin="2px" layout-padiing="2px">
                <div flex layout-gt-xs="row">
                    <div flex-gt-xs="20">
                        <h4>Delivery</h4>
                    </div>
                    <md-radio-group ng-model="dataModel.delivery" flex-gt-xs="80" layout-gt-xs="row" style="min-height:auto" layout-xs="column" required>
                        <div ng-repeat="d in datamodelconf.inputs.deliverytype" flex-gt-xs layout="column" style="min-height:auto" layout-margin="3px">
                            <md-radio-button flex ng-value="d.value">
                                {{ d.type }}</md-radio-button>
                            <md-button class="md-raised md-primary" ng-click="showDeliveryOption($event,d.state)" ng-disabled="dataModel.delivery!=d.value">{{d.linkname}}</md-button>
                        </div>
                    </md-radio-group>
                </div>
            </div>
            <div layout="row" layout-align="end center">
                <md-button class="md-ink-ripple md-raised md-accent" ng-click="cancelDataModel()"><b>Cancel</b></md-button>
                <md-button type="submit" class="md-ink-ripple md-raised md-primary"><b>Save</b></md-button>
            </div>
        </form>
    </div>
    <div flex-gt-md="30" class="md-whiteframe-3dp" style="max-height:none;" layout="column" layout-padding="20px" layout-padding-top="20px">
        <md-input-container>
            <textarea ng-model="uploadjsontext" style="min-height:500;" name="textarea" required area-invalid="true" placeholder="PASTE JSON DATA">
            </textarea>
        </md-input-container>
        <div layout="row" layout-align="center center">
            <md-button class="md-raised" ng-click=" uploadJson(uploadjsontext)">parse</md-button>
        </div>
    </div>
</div>
