<div layout="row" layout-align="center center" layout-margin>
    <div style="max-height:none" flex="50" flex-xs="100">
        <div>
            <md-toolbar class="md-hue-3">
                <div class="md-toolbar-tools">
                    <span>Data Domains</span>
                </div>
            </md-toolbar>
        </div>
        <div>
            <md-content>
                <md-list flex="">
                    <div layout-gt-sm="row" layout-align="center center">
                        <input ng-model="searchDomain" placeholder="Search Domain">
                        <md-button class="md-primary" ng-click="searchDomainFunction()">
                            <md-icon>search</md-icon>
                        </md-button>
                        <md-button class="md-primary" ng-show="status" ng-click="searchAllDomain()">
                            Search All
                        </md-button>
                    </div>
                    <md-subheader class="md-no-sticky">
                        Total Search Results: {{length}}
                    </md-subheader>
                    <div>
                        <md-list-item md-ink-ripple class="md-3-line" ng-repeat="item in domainItems">
                            <md-list-content id="domainListItems" layout="row" ui-sref="datamill.randomDomain({randomDomain:item})" ng-click="domainUpdateFunction()">
                                <ng-avatar string="{{item.name}}" auto-color="true"></ng-avatar>
                                <div class="md-list-item-text" style="padding-left:10px;">
                                    <h3>{{item.name}}</h3>
                                    <h4>{{item.type}}</h4>
                                    <p>Base Type: {{item.baseType}} Pattern: {{item.pattern}}</p>
                                </div>
                            </md-list-content>
                        </md-list-item>
                    </div>
                    <div layout="row">
                        <span flex=""></span>
                        <md-button ng-hide="status" class="md-primary" ng-click="searchPreviousFunction()">
                            <md-icon>skip_previous</md-icon>Previous
                        </md-button>
                        <md-button ng-hide="status" class="md-primary" ng-click="searchNextFunction()">
                            Next
                            <md-icon>skip_next</md-icon>
                        </md-button>
                    </div>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
