<div layout="row" layout-align="center center">
    <div style="max-height:none" flex="100" flex-xs="100" layout="column">
        <div style="background-color:white" ng-show="!showSearch">
            <div class="md-toolbar-tools">
                <h3>
           Data Domains
         </h3>
                <span flex></span>
                <md-button class="md-fab md-mini" aria-label="Search" ng-click="showSearch = !showSearch">
                    <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
        <div style="background-color:white" ng-show="showSearch">
            <div class="md-toolbar-tools">
                <md-button class="md-fab md-mini" ng-click="showSearch = !showSearch" aria-label="Back">
                    <md-icon>close</md-icon>
                </md-button>
                <input class="searchInput" ng-model="searchDomain" placeholder="enter search">
                <span flex></span>
                <md-button class="md-fab md-mini" aria-label="Search" ng-click="searchDomainFunction()">
                    <md-icon>search</md-icon>
                </md-button>
                <md-button class="md-fab md-mini" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
                    <md-icon>add</md-icon>
                </md-button>
            </div>
        </div>
        <div>
            <md-content>
                <md-list flex="">
                    <md-subheader class="md-no-sticky">
                        Showing {{filtered.length}} Records
                    </md-subheader>
                    <div layout-xs="row" layout-sm="row" layout-md="row" layout-gt-md="row" layout-wrap>
                        <md-list-item flex-xs="100" flex-sm="50" flex-md="33" flex-gt-md="25" md-ink-ripple class="md-3-line" ng-repeat="item in domainItems | filter: '!primitive' as filtered">
                            <md-list-content id="domainListItems" layout="row" ui-sref="datamill.randomDomain({randomDomain:item})" ng-click="domainUpdateFunction()">
                                <ng-avatar string="{{item.name}}" round-shape="true" auto-color="true"></ng-avatar>
                                <div class="md-list-item-text" style="padding-left:10px;">
                                    <h3>{{item.name}}</h3>
                                    <h4>{{item.type}}</h4>
                                    <p>Base Type: {{item.baseType}} Pattern: {{item.pattern}}</p>
                                </div>
                            </md-list-content>
                        </md-list-item>
                    </div>
                    <div layout="row">
                        <span flex=""></span>
                        <md-button ng-hide="status" class="md-primary" ng-click="searchPreviousFunction()">
                            <md-icon>skip_previous</md-icon>Previous
                        </md-button>
                        <md-button ng-hide="status" class="md-primary" ng-click="searchNextFunction()">
                            Next
                            <md-icon>skip_next</md-icon>
                        </md-button>
                    </div>
                </md-list>
            </md-content>
        </div>
    </div>
</div>
