<div>
  <div md-no-sticky="" style="background-color:lightgrey;">
    <div class="layout-row" layout="row">
      <h3 style="padding-left:20px;padding-top:10px;">Data Sources </h3>
      <span flex></span>
      <div layout-padding>
        <md-button class="md-fab md-mini" aria-label="edit">
          <md-icon ui-sref="datamill.datasource">list</md-icon>
        </md-button>
      </div>
    </div>
  </div>
  <md-divider></md-divider>
</div>
<div layout="row" ng-controller="createdatasourceController" layout-padding layout-align="center center">
  <div layout-padding style="max-height:none" flex="95" flex-xs="100" layout="column">
    <div md-padding>
      <form name="userForm">
        <div>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Source Name</label>
            <input md-maxlength="30" required="" name="name" type="text" ng-model="ctrl.user.name">
            <div ng-messages="userForm.name.$error">
              <div ng-message="required">Name is required.</div>
              <div ng-message="md-maxlength">The name has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
        <p ng-show="ctrl.showerror" id="errorid" style="color:red">You have to give atleast one tag.</p>
        <div layout-gt-gm="row" layout-padding>
          <md-chips ng-model="ctrl.user.tags" name="tags" ng-required="" md-max-chips="5" placeholder="Add tags" ng-error="ctrl.user.tags
.length==0">
            <md-chip-template>
              <strong>{{$chip}}</strong>
            </md-chip-template>
          </md-chips>
          <div ng-messages="userForm.tags.$error" ng-if="userForm.$dirty">
            <div ng-message="md-max-chips">You reached the maximum amount of chips</div>
            <div ng-message="required">Required</div>
          </div>
        </div>
        <div flex="100" layout="column" layout-margin>
          <span></span>
        </div>
        <div>
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Source Description</label>
            <input md-maxlength="100" required="" name="description" type="text" ng-model="ctrl.user.description">
            <div ng-messages="userForm.description.$error">
              <div ng-message="required">Description is required.</div>
              <div ng-message="md-maxlength">The Description has to be less than 30 characters long.</div>
            </div>
          </md-input-container>
        </div>
        <div layout="column" layout-margin>
          <textarea placeholder="Json Data Here" style="width:100%;height:300px" ng-model="ctrl.user.json"></textarea>
        </div>
        <div layout="row" layout-align="end center">
          <md-button ui-sref="datamill.datasource" class="md-warn">Cancel</md-button>
          <md-button type="submit" class="md-primary" ng-click="ctrl.add()">Save</md-button>
        </div>
      </form>
    </div>
  </div>
</div>