<!-- <div md-no-sticky="" style="background-color:lightgrey;">
  <div class="layout-row" layout="row" class="md-toolbar-tools">
    <h3 style="padding-left:20px;padding-top:10px;">Data Sources</h3>
    <span flex></span>
    <div layout-padding>
      <md-button class="md-fab md-mini" aria-label="edit">
        <md-icon ui-sref="datamill.createdatasource({user:{tags:[]}})">input</md-icon>
      </md-button>
    </div>
  </div>
</div> -->
<div layout="row">
  <div style="max-height:none" flex="100" flex-xs="100" layout="column">
    <div style="background-color:lightgrey">
      <div class="md-toolbar-tools">
        <h3>
           Data Sources
         </h3>
        <span flex></span>
        <div layout-padding>
          <md-button class="md-fab md-mini" aria-label="edit">
            <md-icon ui-sref="datamill.createdatasource({user:{tags:[]}})">input</md-icon>
          </md-button>
        </div>
      </div>
    </div>
  </div>
</div>
<md-divider></md-divider>
<div layout-gt-sm="row" layout-sm="column">
  <div flex="">
    <md-list flex="">
      <md-list-item class="md-3-line" ng-repeat="source in nameofsource" ui-sref="datamill.createdatasource({user:source})" layout-sm="column">
        <div flex-gt-sm="5">
          <ng-avatar string="{{source.name}}" flex-sm="100" round-shape=true auto-color=true>
          </ng-avatar>
        </div>
        <div class="md-list-item-text" style="padding-left:10px;">
          <h3 style="font-weight:bold;">{{ source.name }}</h3>
          <h4>{{ source.tags[0] }}</h4>
          <p>{{source.description}} </p>
        </div>
      </md-list-item>
    </md-list>
  </div>
</div>