<div layout-gt-md="row" layout="column" layout-margin="10px" ng-cloak>
    <div flex-gt-md="100" flex-sm="100" flex-xs="100" class="md-whiteframe-3dp" style="min-height:100%;margin-top:20px">
        <div flex-gt-sm="auto" layout-gt-sm="row" layout-sm="column" layout-wrap>
            <md-card class="card" flex-gt-sm="100" flex-sm="100" flex-xs="100">
                <md-toolbar class="md-hue-1">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">Daily Data Downloaded</span>
                        </md-card-header-text>
                    </md-card-header>
                </md-toolbar>
                <md-divider></md-divider>
                <!-- <img ng-src="#" class="md-card-image" alt="image caption"> -->
                <md-card-content>
                    <p>
                        download
                    </p>
                    this is canvas
                    <canvas class="card-content"></canvas>
                </md-card-content>
            </md-card>
        </div>
        <div flex-gt-sm="auto" layout-gt-sm="row" layout-sm="column" layout-wrap>
            <md-card flex-gt-sm="30" flex-sm="100" flex-xs="100">
                <md-toolbar class=" md-hue-1 ">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline ">Data Models</span>
                            <!-- <span class="md-subhead ">Sub header</span> -->
                        </md-card-header-text>
                    </md-card-header>
                </md-toolbar>
                <md-divider></md-divider>
                <md-card-content>
                    <p>
                        Total DataModels
                    </p>
                </md-card-content>
            </md-card>
            <md-card flex-gt-sm="33 " flex-sm="100" flex-xs="100">
                <md-toolbar class="md-hue-1">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">Data Models</span>
                            <!-- <span class="md-subhead">Sub header</span> -->
                        </md-card-header-text>
                    </md-card-header>
                </md-toolbar>
                <md-divider></md-divider>
                <!-- <img ng-src="#" class="md-card-image" alt="image caption"> -->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Users</span>
                        <span class="md-subhead">Card subheader</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>Active</md-button>
                    <md-button>Inactive</md-button>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="icon">
                            <md-icon md-svg-icon="icon"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-card-content>
                    <p>
                        Card content
                    </p>
                </md-card-content>
            </md-card>
            <md-card flex-gt-sm="33" flex-sm="100" flex-xs="100">
                <md-toolbar class="md-hue-1">
                    <md-card-header>
                        <md-card-header-text>
                            <span class="md-headline">Data Models</span>
                            <!-- <span class="md-subhead">Sub header</span> -->
                        </md-card-header-text>
                    </md-card-header>
                </md-toolbar>
                <md-divider></md-divider>
                <!-- <img ng-src="#" class="md-card-image" alt="image caption"> -->
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-headline">Card headline</span>
                        <span class="md-subhead">Card subheader</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-actions layout="row" layout-align="start center">
                    <md-button>Action 1</md-button>
                    <md-button>Action 2</md-button>
                    <md-card-icon-actions>
                        <md-button class="md-icon-button" aria-label="icon">
                            <md-icon md-svg-icon="icon"></md-icon>
                        </md-button>
                    </md-card-icon-actions>
                </md-card-actions>
                <md-card-content>
                    <p>
                        Card content
                    </p>
                </md-card-content>
            </md-card>
        </div>
    </div>
</div>
