<div style="background:#366336;height:100%">
  <div layout="row" layout-align="center center" style="height:50%">
    <div flex="30" style="text-align:center;color:white;">
      <h1>Realistic Time Series Data Generator</h1>
      <p>Now get rid from the generating your own dummy data and generate data in one click</p>
    </div>
  </div>
  <div layout="row" layout-align="center center" style="text-align:center;color:white;" layout-margin style=" height:50% ">
    <div flex="30">
      <img style="height:100px;width:100px " src="/assets/images/data_sources.png "></img>
      <h2>Briefcase Your Own Data Sources</h2>
      <p>You can add your custom data sources and use to create your own domains</p>
    </div>
    <div flex="30">
      <img style="height:100px;width:100px " src="/assets/images/domain_lib.png "></img>
      <h2>Domain For Easing</h2>
      <p>You can add your custom Domain use to create your own datamodel</p>
    </div>
    <div flex="30">
      <img style="height:100px;width:100px " src="/assets/images/redis.png "></img>
      <h2>Providing Wide Range of Feeds</h2>
      <p>You can get your data over the streams, websockets,redis,kafka etc</p>
    </div>
  </div>
</div>
