<div ng-cloak>
  <div style="background-color:lightgrey" ng-show="!showSearch">
    <div class="md-toolbar-tools">
      <h3>Dashboard</h3>
      <span flex></span>
      <md-button class="md-fab md-mini" aria-label="Search" ng-click="showSearch = !showSearch">
        <md-icon>search</md-icon>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </div>
  <div style="background-color:lightgrey" ng-show="showSearch">
    <div class="md-toolbar-tools">
      <md-button class="md-fab md-mini" ng-click="showSearch = !showSearch" aria-label="Back">
        <md-icon>close</md-icon>
      </md-button>
      <!-- <md-input-container md-theme="input" flex>
        <label>&nbsp;</label> -->
      <input class="searchInput" ng-model="search" placeholder="enter search">
      <span flex></span>
      <!-- </md-input-container> -->
      <md-button class="md-fab md-mini" aria-label="Search" ng-click="getSearchResults()">
        <md-icon>search</md-icon>
      </md-button>
      <md-button class="md-fab md-mini" aria-label="Open Settings" ng-click="showListBottomSheet($event)">
        <md-icon>more_vert</md-icon>
      </md-button>
    </div>
  </div>
  <!-- Datamodel Cards-->
  <div class='md-padding' layout-gt-sm="row" layout-sm="column" layout-wrap>
    <!-- <div ng-repeat="card in datamodel" flex-gt-sm="33" flex-sm="100"> -->
    <md-card ng-repeat="card in datamodel" flex-gt-sm="33" flex-sm="100">
      <!-- <md-card-title style="padding:7px;" md-colors="::{backgroundColor: 'default-primary-300'} "> -->
      <md-card-title md-colors="::{backgroundColor: 'default-primary-300'}">
        <ng-avatar string="{{card.name | avatarstring}}" auto-color="true" text-color="white" round-shape="true"></ng-avatar>
        <md-card-title-text>{{card.name}}
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <p>{{card.description}}</p>
        <pre>{{ card | json }}</pre>
        <span>File Export type : {{card.delivery}}</span>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center">
        <md-button aria-label="edit" class="md-icon-button" ui-sref="datamill.datamodeldefination({dataModel:card})">
          <md-icon class="material-icons">mode_edit</md-icon>
        </md-button>
        <md-button aria-label="fav" class="md-icon-button">
          <md-icon class="material-icons">star</md-icon>
        </md-button>
      </md-card-actions>
    </md-card>
    <!-- </div> -->
  </div>
</div>
