<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Data</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <textarea style="width:700px;height:400px" ng-model="data|json" id="myCpWindow" class="codepress javascript linenumbers-off"></textarea>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row ">
      <span flex></span>
      <md-button ng-click="answer(status)" ng-disabled="copydis">
        Download
      </md-button>
      <!-- <md-button ng-click="show()">
  Show
</md-button>
 -->
    </md-dialog-actions>
  </form>
</md-dialog>
