<md-dialog>
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Datafeed</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon aria-label="Close dialog">close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content">
        <textarea style="width:700px;height:400px" ng-model="datastr"></textarea>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row ">
      <span flex></span>
      <md-button ng-click="answer(status) ">
        Close
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
