<div layout="row" layout-xs="column" layout-margin="10px" layout-padding="10px" ng-cloak>
  <div flex class="md-whiteframe-3dp">
    <h1>{{datamodelconf.heading}}</h1>
    <md-tabs class="md-accent" md-dynamic-height md-border-bottom>
      <md-tab id="formtab">
        <md-tab-label>Form</md-tab-label>
        <md-tab-body>
          <form ng-submit="">
            <div layout="column" class="md-whiteframe-3dp" layout-margin="2px">
              <md-input-container>
                <label>Data Model Title</label>
                <input ng-model="dataModel.name">
              </md-input-container>
              <md-input-container>
                <label>Data Model Description</label>
                <input ng-model="dataModel.description">
              </md-input-container>
              <br>
              <div layout="row">
                <md-icon flex="10" class="material-icons">visibility</md-icon>
                <md-radio-group flex="90" layout="row" ng-model="dataModel.visibility">
                  <md-radio-button flex ng-repeat="d in datamodelconf.inputs.visibility" ng-value="d">
                    {{ d }}
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>
            <md-divider></md-divider>
            <inline-list-form form-title="Attributes" file-src-include="/datamodel/templates/attribute.html" attrs="dataModel.attributes" on-update="addAttribute(attr)">
              <md-input-container>
                <label>Title</label>
                <input ng-model="attribute.title" ng-disabled="$index!=iseditable">
              </md-input-container>
            </inline-list-form>
            <md-divider></md-divider>
            <inline-list-form form-title="Pattern Classes" file-src-include="/datamodel/templates/attribute.html" attrs="dataModel.patterns" on-update="addAttribute(attr)" class="md-whiteframe-1dp">
              <md-input-container>
                <label>Title</label>
                <input ng-model="attribute.title" ng-disabled="$index!=iseditable">
              </md-input-container>
            </inline-list-form>
            <md-divider></md-divider>
            <div layout="column" class="md-whiteframe-3dp" layout-margin="2px">
              <div flex layout="row">
                <div flex="20">Delivery Type</div>
                <md-radio-group ng-model="dataModel.delivery" flex layout="row">
                  <div ng-repeat="(k,v) in datamodelconf.inputs.deliverytype" flex layout="column" layout-margin="3px">
                    <md-radio-button flex ng-value="k">
                      {{ v }}</md-radio-button>
                    <input type="numder" ng-disabled="dataModel.delivery!=k" flex name="no of data packet" ng-model="dataModel[v]">
                    <a ui-sref="{{k}}">feedOptions</a>
                    <div ui-view="{{k}}"></div>
                  </div>
                </md-radio-group>
              </div>
            </div>
            <div layout="row">
              <md-button type="submit" class="md-raised md-primary">Save</md-button>
              <md-button class="md-raised md-warn">Cancel</md-button>
            </div>
          </form>
        </md-tab-body>
      </md-tab>
      <md-tab id="nodetab">
        <md-tab-label>Nodes</md-tab-label>
        <md-tab-body>
          <p>will be available soon</p>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
  <div flex class="md-whiteframe-3dp ">
    <h1>Data Modal defination in json format</h1>
    <pre><p> {{dataModel | json}}</p></pre>
  </div>
</div>
