<div layout="row" layout-xs="column" layout-margin="10px" layout-padding="10px" ng-cloak>
  <div flex style="min-height:auto" class="md-whiteframe-3dp">
    <h1>{{datamodelconf.heading}}</h1>
    <md-tabs class="md-accent" md-dynamic-height md-border-bottom>
      <md-tab id="formtab">
        <md-tab-label>Form</md-tab-label>
        <md-tab-body>
          <form ng-submit="createDataModel()">
            <div layout="column" layout-margin="2px">
              <md-input-container>
                <label>Data Model Title</label>
                <input ng-model="dataModel.name" md-maxlength="50" required>
              </md-input-container>
              <md-input-container>
                <label>Data Model Description</label>
                <textarea ng-model="dataModel.description" md-maxlength="150" rows="3" md-select-on-focus required>
                </textarea>
              </md-input-container>
              <br>
              <div layout="row">
                <label flex="25" flex-xs="40" layout="row" layout-align="start center">
                  <md-icon flex="20" class="material-icons">visibility</md-icon>
                  <span flex="80">Visibility</span>
                </label>
                <md-radio-group flex="75" flex-xs="60" layout="row" layout-xs="column" layout-margin="2px" ng-model="dataModel.visibility" required>
                  <md-radio-button style="margin:3px;" ng-repeat="d in datamodelconf.inputs.visibility" ng-value="d">
                    {{ d }}
                  </md-radio-button>
                </md-radio-group>
              </div>
            </div>
            <md-divider></md-divider>
            <inline-list-form form-title="Attributes" file-src-include="/datamodel/templates/attribute.html" attrs="dataModel.attributes" on-update="addAttribute(attr)">
              <md-input-container>
                <label>Title</label>
                <input ng-model="attribute.title" ng-disabled="$index!=iseditable">
              </md-input-container>
            </inline-list-form>
            <md-divider></md-divider>
            <!-- <inline-list-form form-title="Pattern Classes" file-src-include="/datamodel/templates/attribute.html" attrs="dataModel.patterns" on-update="addAttribute(attr)" class="md-whiteframe-1dp">
  <md-input-container>
    <label>Title</label>
    <input ng-model="attribute.title" ng-disabled="$index!=iseditable">
  </md-input-container>
</inline-list-form>
 -->
            <md-divider></md-divider>
            <div layout="row" layout-margin="2px" layout-padiing="2px">
              <div flex layout="row">
                <div flex="20">Delivery Type</div>
                <md-radio-group ng-model="dataModel.delivery" flex="80" layout="row" style="min-height:auto" layout-xs="column" required>
                  <div ng-repeat="d in datamodelconf.inputs.deliverytype" flex layout="column" style="min-height:auto" layout-margin="3px">
                    <md-radio-button flex ng-value="d.value">
                      {{ d.type }}</md-radio-button>
                    <md-button ng-click="showDeliveryOption($event,d.state)" ng-disabled="dataModel.delivery!=d.value">{{d.linkname}}</md-button>
                  </div>
                </md-radio-group>
                <div style="visibility: hidden">
                  <div class="md-dialog-container" id="deliveryOption">
                    <md-dialog>
                      <div ui-view="deliveryview"></div>
                    </md-dialog>
                  </div>
                </div>
              </div>
            </div>
            <div layout="row" layout-align="end center">
              <md-button type="submit" class="md-raised md-primary">Save</md-button>
              <md-button class="md-raised md-warn">Cancel</md-button>
            </div>
          </form>
        </md-tab-body>
      </md-tab>
      <md-tab id="nodetab">
        <md-tab-label>Nodes</md-tab-label>
        <md-tab-body>
          <p>will be available soon</p>
        </md-tab-body>
      </md-tab>
    </md-tabs>
  </div>
  <div flex style="min-height:auto;padding:4px" class="md-whiteframe-3dp ">
    <h1>Data Modal defination in json format</h1>
    <pre><h4> {{dataModel | json}}</h4></pre>
  </div>
</div>
