<div layout="row" layout-align="center center">
  <h2>Datamill Architecture</h2>
</div>
<div layout="column" layout-align="center center">
  <img src="/assets/images/architecture.PNG">
  <img src="/assets/images/processor.PNG">
</div>
<div layout="row" layout-align="center center">
  <h2>Contributors</h2>
</div>
<div layout="row" layout-align="center center">
  <div align="center" flex="25" layout-padding>
    <img src="/assets/images/vishal.JPG" alt="Vishal Singh" height="200" width="200">
    <h5><a href="https://github.com/vishalsingh31" target="_blank">Vishal Singh</a></h5>
  </div>
  <div align="center" flex="25"><img src="/assets/images/ketan.JPG" alt="Ketan Rawat" height="200" width="200">
    <h5><a href="https://github.com/Ketanrawat" target="_blank">Ketan Rawat</a></h5></div>
  <div align="center" flex="25"><img src="/assets/images/prashant.JPG" alt="Prashant Farkya" height="200" width="200">
    <h5><a href="https://github.com/pfarkya" target="_blank">Prashant Farkya</a></h5></div>
  <div align="center" flex="25"><img src="/assets/images/apoorva.JPG" alt="Apoorva Patil" height="200" width="200">
    <h5><a href="https://github.com/ApoorvaPatil16" target="_blank">Apoorva Patil</a></h5></div>
</div>
