<div>
    <div layout="row"></div>
    <md-content class="appbar-section">
        <md-toolbar class="md-hue-2">
            <div class="md-toolbar-tools">
                <md-button class="md-icon-button" aria-label="SideList" ng-click="toggleLeft('left')">
                    <md-icon class="material-icons">{{materialIcons[0].name}}</md-icon>
                </md-button>
                <h2>
                    <span>{{appName}}</span>
                </h2>
                <span flex=""></span>
                <md-button class="md-icon-button" aria-label="Notifications" ng-click="showNotification($event)">
                    <md-icon class=" material-icons ">{{materialIcons[1].name}}</md-icon>
                </md-button>
                <md-menu>
                    <md-button class="md-icon-button " aria-label="Account " ng-click="$mdOpenMenu() ">
                    <md-icon class=" material-icons ">{{materialIcons[2].name}}</md-icon>
                        <!-- <md-icon class="material-icons ">{{data.picture}}</md-icon> -->
                      <!-- <img src="{{data.picture}}" alt="DataMill Icon ">  -->

                    </md-button>
                    <md-menu-content id="account-circle-content">
                        <md-menu-item ng-repeat="item in accountItems">
                            <md-button ng-click="this[item.func]()">
                                {{item.name}}
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>
    </md-content>
    <md-sidenav class="md-sidenav-left " md-component-id="left" layout="column">
        <div layout="row" class="sidenav-heading " flex="15">
            <img src="/assets/images/Capture.PNG " alt="DataMill Icon ">
            <!-- <h2>{{appName}}</h2> -->
        </div>
        <md-divider></md-divider>
        <div layout="row" flex="70">
            <md-list>
                <md-list-item ng-repeat="item in sideNavItems ">
                    <div>
                        <md-icon>{{item.icon}}</md-icon>
                        <a ui-sref='{{item.state}}' ng-click="toggleLeft('left')">
                        {{item.link}}
                        </a>
                    </div>
                </md-list-item>
            </md-list>
        </div>
        <md-divider></md-divider>
        <md-list layout="row" flex="15">
            <md-list-item ng-repeat="item in sideNavBottomItems">
                <a ui-sref="{{item.state}}" ng-click="toggleLeft('left')">{{item.link}}</a>
            </md-list-item>
        </md-list>
    </md-sidenav>
</div>
