<footer>
  <div layout="row" layout-align="center center">
    <div layout="row" layout-margin="50px">
      <div>
        <a style="color:white" href="https://www.facebook.com/" target="_blank"><i class="fa fa-2x fa-facebook-official"></a></i>
      </div>
      <div>
        <a style="color:white;margin-left:50px;margin-right:50px" href="https://www.twitter.com/" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
      </div>
      <div>
        <a style="color:white" href="https://github.com/stackroute/DataMill" target="_blank"><i class="fa fa-2x fa-github"></i></a>
      </div>
    </div>
  </div>
</footer>
